In [14]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [15]:
from src.load_data import get_data
import xgboost as xgb
from src.preprocessing import preprocessing
from src.evaluation import evaluate_model, get_param

In [16]:
dataset= "loadCurveThreeTest"
data = get_data(dataset, should_clean_data=False)
data = data.drop("electricLoad", axis=1)
data

,t1,r1,dayofweek,startDate_year,startDate_month,startDate_day,startDate_hour,startDate_minute,holiday,schoolHoliday
0,9.54,0.00,3,2015,4,30,23,45,0,0
1,9.48,0.00,4,2015,5,1,0,0,1,0
2,9.43,0.00,4,2015,5,1,0,15,1,0
3,9.37,0.00,4,2015,5,1,0,30,1,0
4,9.31,0.00,4,2015,5,1,0,45,1,0
...,...,...,...,...,...,...,...,...,...,...
5851,23.78,1.97,1,2015,6,30,22,30,0,0
5852,23.64,1.82,1,2015,6,30,22,45,0,0
5853,21.90,0.00,1,2015,6,30,23,0,0,0
5854,21.80,0.00,1,2015,6,30,23,15,0,0
5855,21.70,0.00,1,2015,6,30,23,30,0,0

In [17]:
path_best_model_lc1= "../models/model_2024-03-15_12-52-30.json"
path_best_model_lc2= "../models/model_2024-03-15_12-16-07.json"
path_best_model_lc3= "../models/model_2024-03-15_11-21-13.json"
param = get_param()
model = xgb.XGBRegressor()
model.load_model(path_best_model_lc3)
preprocessingParams = param['best_preprocessing_lc3']
data = preprocessing(data, split=False, **preprocessingParams)

In [18]:
data

,t1,r1,dayofweek,startDate_year,startDate_month,startDate_day,startDate_hour,startDate_minute,holiday,schoolHoliday,...,t16,t17,t1-8,t1-7,t1-6,t1-5,t1-4,t1-3,t1-2,t1-1
7,9.00,0.00,4,2015,5,1,1,30,1,0,...,9.48,9.54,8.68,8.70,8.72,8.74,8.78,8.82,8.85,8.89
8,8.89,0.00,4,2015,5,1,1,45,1,0,...,9.43,9.48,8.66,8.68,8.70,8.72,8.74,8.78,8.82,8.85
9,8.85,0.00,4,2015,5,1,2,0,1,0,...,9.37,9.43,8.61,8.66,8.68,8.70,8.72,8.74,8.78,8.82
10,8.82,0.00,4,2015,5,1,2,15,1,0,...,9.31,9.37,8.56,8.61,8.66,8.68,8.70,8.72,8.74,8.78
11,8.78,0.00,4,2015,5,1,2,30,1,0,...,9.21,9.31,8.51,8.56,8.61,8.66,8.68,8.70,8.72,8.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5843,27.99,172.48,1,2015,6,30,20,30,0,0,...,29.27,29.68,23.78,23.91,24.05,26.05,26.21,26.36,26.52,27.89
5844,27.89,163.93,1,2015,6,30,20,45,0,0,...,29.20,29.27,23.64,23.78,23.91,24.05,26.05,26.21,26.36,26.52
5845,26.52,57.61,1,2015,6,30,21,0,0,0,...,29.13,29.20,21.90,23.64,23.78,23.91,24.05,26.05,26.21,26.36
5846,26.36,53.94,1,2015,6,30,21,15,0,0,...,29.07,29.13,21.80,21.90,23.64,23.78,23.91,24.05,26.05,26.21
5847,26.21,50.26,1,2015,6,30,21,30,0,0,...,28.20,29.07,21.70,21.80,21.90,23.64,23.78,23.91,24.05,26.05

In [19]:
result = model.predict(data)
result

array([62.12676 , 61.91725 , 60.91216 , ..., 98.31849 , 97.850525,
       97.45903 ], dtype=float32)

In [20]:
import os
path = f"../result/"
# Erstelle den Ordner, falls er nicht existiert
if not os.path.exists(path):
    os.makedirs(path)

import pandas as pd

In [21]:
data['predicted_load']=result
pd.DataFrame(data).to_csv(path+dataset+'.csv')