In [18]:
import pandas as pd

from src.loadData import getData, readLoadCurveTwoToDataframe
%load_ext autoreload
%autoreload 2
loadCurve = readLoadCurveTwoToDataframe("../data/training_data_period_2.csv")
loadCurve

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

/home/philipp/Dokumente/git/CaseStudiesOfAIImplementation/src/loadData.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['electricLoad'] = df['electricLoad'].astype(float)

,electricLoad,t1,t2,r1,r2,dayofweek,startDate_year,startDate_month,startDate_day,startDate_hour,startDate_minute
0,67.75,8.83,8.40,0.0,0.0,6,2012,1,1,0,0
1,65.78,8.83,8.40,0.0,0.0,6,2012,1,1,0,15
2,66.17,8.83,8.40,0.0,0.0,6,2012,1,1,0,30
3,65.81,8.83,8.40,0.0,0.0,6,2012,1,1,0,45
4,64.24,8.89,8.50,0.0,0.0,6,2012,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
105211,66.64,-0.79,0.40,0.0,0.0,2,2014,12,31,22,45
105212,67.51,-0.78,0.38,0.0,0.0,2,2014,12,31,23,0
105213,67.17,-0.76,0.35,0.0,0.0,2,2014,12,31,23,15
105214,68.00,-0.74,0.33,0.0,0.0,2,2014,12,31,23,30
105215,66.50,-0.73,0.30,0.0,0.0,2,2014,12,31,23,45

In [17]:
loadCurve

                 startDate  electricLoad    t1    t2   r1   r2  daylight_phase
0      2012-01-01 00:00:00         67.75  8.83  8.40  0.0  0.0               4
1      2012-01-01 00:15:00         65.78  8.83  8.40  0.0  0.0               4
2      2012-01-01 00:30:00         66.17  8.83  8.40  0.0  0.0               4
3      2012-01-01 00:45:00         65.81  8.83  8.40  0.0  0.0               4
4      2012-01-01 01:00:00         64.24  8.89  8.50  0.0  0.0               4
...                    ...           ...   ...   ...  ...  ...             ...
105211 2014-12-31 22:45:00         66.64 -0.79  0.40  0.0  0.0               4
105212 2014-12-31 23:00:00         67.51 -0.78  0.38  0.0  0.0               4
105213 2014-12-31 23:15:00         67.17 -0.76  0.35  0.0  0.0               4
105214 2014-12-31 23:30:00         68.00 -0.74  0.33  0.0  0.0               4
105215 2014-12-31 23:45:00         66.50 -0.73  0.30  0.0  0.0               4

[105216 rows x 7 columns]

In [24]:
from src.preprocessing import set_daytime_index

set_daytime_index(loadCurve)

In [55]:
df = loadCurve
df

,electricLoad,t1,t2,r1,r2,dayofweek,startDate_year,startDate_month,startDate_day,startDate_hour,startDate_minute,daylight_phase,date_str
0,67.75,8.83,8.40,0.0,0.0,6,2012,1,1,0,0,4,2012-01-01
1,65.78,8.83,8.40,0.0,0.0,6,2012,1,1,0,15,4,2012-01-01
2,66.17,8.83,8.40,0.0,0.0,6,2012,1,1,0,30,4,2012-01-01
3,65.81,8.83,8.40,0.0,0.0,6,2012,1,1,0,45,4,2012-01-01
4,64.24,8.89,8.50,0.0,0.0,6,2012,1,1,1,0,4,2012-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105211,66.64,-0.79,0.40,0.0,0.0,2,2014,12,31,22,45,4,2014-12-31
105212,67.51,-0.78,0.38,0.0,0.0,2,2014,12,31,23,0,4,2014-12-31
105213,67.17,-0.76,0.35,0.0,0.0,2,2014,12,31,23,15,4,2014-12-31
105214,68.00,-0.74,0.33,0.0,0.0,2,2014,12,31,23,30,4,2014-12-31
105215,66.50,-0.73,0.30,0.0,0.0,2,2014,12,31,23,45,4,2014-12-31

In [56]:
import pandas as pd
df['date_str'] = df['startDate_year'].astype(str) + '-' + df['startDate_month'].astype(str).str.zfill(2) + '-' + df['startDate_day'].astype(str).str.zfill(2)
daily_avg_temp = df.groupby('date_str')['t1'].mean().reset_index()
daily_avg_temp.columns = ['date_str', 'avg_temperature_day']
df = pd.merge(df,daily_avg_temp)
df['temp_diff_prev_day'] = df['avg_temperature_day'] - df['avg_temperature_day'].shift(96)
df.fillna(0, inplace=True)
df

,electricLoad,t1,t2,r1,r2,dayofweek,startDate_year,startDate_month,startDate_day,startDate_hour,startDate_minute,daylight_phase,date_str,avg_temperature_day,temp_diff_prev_day
0,67.75,8.83,8.40,0.0,0.0,6,2012,1,1,0,0,4,2012-01-01,10.478542,0.000000
1,65.78,8.83,8.40,0.0,0.0,6,2012,1,1,0,15,4,2012-01-01,10.478542,0.000000
2,66.17,8.83,8.40,0.0,0.0,6,2012,1,1,0,30,4,2012-01-01,10.478542,0.000000
3,65.81,8.83,8.40,0.0,0.0,6,2012,1,1,0,45,4,2012-01-01,10.478542,0.000000
4,64.24,8.89,8.50,0.0,0.0,6,2012,1,1,1,0,4,2012-01-01,10.478542,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105211,66.64,-0.79,0.40,0.0,0.0,2,2014,12,31,22,45,4,2014-12-31,0.067917,1.340104
105212,67.51,-0.78,0.38,0.0,0.0,2,2014,12,31,23,0,4,2014-12-31,0.067917,1.340104
105213,67.17,-0.76,0.35,0.0,0.0,2,2014,12,31,23,15,4,2014-12-31,0.067917,1.340104
105214,68.00,-0.74,0.33,0.0,0.0,2,2014,12,31,23,30,4,2014-12-31,0.067917,1.340104
105215,66.50,-0.73,0.30,0.0,0.0,2,2014,12,31,23,45,4,2014-12-31,0.067917,1.340104

In [58]:
df['date_str_moth'] = df['startDate_year'].astype(str) + '-' + df['startDate_month'].astype(str).str.zfill(2) 
daily_avg_temp = df.groupby('date_str')['t1'].mean().reset_index()
daily_avg_temp.columns = ['date_str', 'avg_temperature_month']
df = pd.merge(df,daily_avg_temp)
df['temp_diff_prev_month'] = df['avg_temperature_month'] - df['avg_temperature_month'].shift(96*30)
df.fillna(0, inplace=True)
df

,electricLoad,t1,t2,r1,r2,dayofweek,startDate_year,startDate_month,startDate_day,startDate_hour,startDate_minute,daylight_phase,date_str,avg_temperature_day,temp_diff_prev_day,date_str_moth,avg_temperature_month,temp_diff_prev_month
0,67.75,8.83,8.40,0.0,0.0,6,2012,1,1,0,0,4,2012-01-01,10.478542,0.000000,2012-01,10.478542,0.00000
1,65.78,8.83,8.40,0.0,0.0,6,2012,1,1,0,15,4,2012-01-01,10.478542,0.000000,2012-01,10.478542,0.00000
2,66.17,8.83,8.40,0.0,0.0,6,2012,1,1,0,30,4,2012-01-01,10.478542,0.000000,2012-01,10.478542,0.00000
3,65.81,8.83,8.40,0.0,0.0,6,2012,1,1,0,45,4,2012-01-01,10.478542,0.000000,2012-01,10.478542,0.00000
4,64.24,8.89,8.50,0.0,0.0,6,2012,1,1,1,0,4,2012-01-01,10.478542,0.000000,2012-01,10.478542,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105211,66.64,-0.79,0.40,0.0,0.0,2,2014,12,31,22,45,4,2014-12-31,0.067917,1.340104,2014-12,0.067917,-3.36375
105212,67.51,-0.78,0.38,0.0,0.0,2,2014,12,31,23,0,4,2014-12-31,0.067917,1.340104,2014-12,0.067917,-3.36375
105213,67.17,-0.76,0.35,0.0,0.0,2,2014,12,31,23,15,4,2014-12-31,0.067917,1.340104,2014-12,0.067917,-3.36375
105214,68.00,-0.74,0.33,0.0,0.0,2,2014,12,31,23,30,4,2014-12-31,0.067917,1.340104,2014-12,0.067917,-3.36375
105215,66.50,-0.73,0.30,0.0,0.0,2,2014,12,31,23,45,4,2014-12-31,0.067917,1.340104,2014-12,0.067917,-3.36375

In [66]:
data = getData('loadCurveTwo')
data

/home/philipp/Dokumente/git/CaseStudiesOfAIImplementation/src/loadData.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['electricLoad'] = df['electricLoad'].astype(float)

,electricLoad,t1,t2,r1,r2,dayofweek,startDate_year,startDate_month,startDate_day,startDate_hour,startDate_minute,holiday,schoolHoliday
0,67.75,8.83,8.40,0.0,0.0,6,2012,1,1,0,0,1,1
1,65.78,8.83,8.40,0.0,0.0,6,2012,1,1,0,15,1,1
2,66.17,8.83,8.40,0.0,0.0,6,2012,1,1,0,30,1,1
3,65.81,8.83,8.40,0.0,0.0,6,2012,1,1,0,45,1,1
4,64.24,8.89,8.50,0.0,0.0,6,2012,1,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105211,66.64,-0.79,0.40,0.0,0.0,2,2014,12,31,22,45,0,1
105212,67.51,-0.78,0.38,0.0,0.0,2,2014,12,31,23,0,0,1
105213,67.17,-0.76,0.35,0.0,0.0,2,2014,12,31,23,15,0,1
105214,68.00,-0.74,0.33,0.0,0.0,2,2014,12,31,23,30,0,1
105215,66.50,-0.73,0.30,0.0,0.0,2,2014,12,31,23,45,0,1

In [70]:
from src.preprocessing import monthly_diff, daily_diff

data = daily_diff(data,['t1','r1'],[True, False])
data

,electricLoad,t1,t2,r1,r2,dayofweek,startDate_year,startDate_month,startDate_day,startDate_hour,startDate_minute,holiday,schoolHoliday,avg_t1_month,t1_diff_prev_month,r1_diff_prev_month,avg_t1_day,t1_diff_prev_day,r1_diff_prev_day
0,67.75,8.83,8.40,0.0,0.0,6,2012,1,1,0,0,1,1,3.114036,0.0,0.0,10.478542,0.000000,0.000000
1,65.78,8.83,8.40,0.0,0.0,6,2012,1,1,0,15,1,1,3.114036,0.0,0.0,10.478542,0.000000,0.000000
2,66.17,8.83,8.40,0.0,0.0,6,2012,1,1,0,30,1,1,3.114036,0.0,0.0,10.478542,0.000000,0.000000
3,65.81,8.83,8.40,0.0,0.0,6,2012,1,1,0,45,1,1,3.114036,0.0,0.0,10.478542,0.000000,0.000000
4,64.24,8.89,8.50,0.0,0.0,6,2012,1,1,1,0,1,1,3.114036,0.0,0.0,10.478542,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105211,66.64,-0.79,0.40,0.0,0.0,2,2014,12,31,22,45,0,1,4.063911,0.0,0.0,0.067917,1.340104,4.078125
105212,67.51,-0.78,0.38,0.0,0.0,2,2014,12,31,23,0,0,1,4.063911,0.0,0.0,0.067917,1.340104,4.078125
105213,67.17,-0.76,0.35,0.0,0.0,2,2014,12,31,23,15,0,1,4.063911,0.0,0.0,0.067917,1.340104,4.078125
105214,68.00,-0.74,0.33,0.0,0.0,2,2014,12,31,23,30,0,1,4.063911,0.0,0.0,0.067917,1.340104,4.078125
105215,66.50,-0.73,0.30,0.0,0.0,2,2014,12,31,23,45,0,1,4.063911,0.0,0.0,0.067917,1.340104,4.078125

In [61]:

data = preprocessing(data, 0.2,[ 't1' , 'r1',  'holiday', 'schoolHoliday'], 3,-3)
data

(           t1     t2     r1     r2  dayofweek  startDate_year  \
 84171   16.76  13.60  77.14  43.00          0            2014
 84172   16.63  13.65  68.82  40.25          0            2014
 84173   16.50  13.70  60.50  37.50          0            2014
 84174   16.37  13.75  52.18  34.75          0            2014
 84175   16.24  13.80  43.86  32.00          0            2014
 ...       ...    ...    ...    ...        ...             ...
 105208  -0.21   0.47   0.00   0.00          2            2014
 105209  -0.40   0.45   0.00   0.00          2            2014
 105210  -0.59   0.43   0.00   0.00          2            2014
 105211  -0.79   0.40   0.00   0.00          2            2014
 105212  -0.78   0.38   0.00   0.00          2            2014

         startDate_month  startDate_day  startDate_hour  startDate_minute  ...  \
 84171                 5             26              18                45  ...
 84172                 5             26              19                 0  ...
 84173                 5             26              19                15  ...
 84174                 5             26              19                30  ...
 84175                 5             26              19                45  ...
 ...                 ...            ...             ...               ...  ...
 105208               12             31              22                 0  ...
 105209               12             31              22                15  ...
 105210               12             31              22                30  ...
 105211               12             31              22                45  ...
 105212               12             31              23                 0  ...

         holiday-3  schoolHoliday-3   t1-2   r1-2 holiday-2  schoolHoliday-2  \
 84171         0.0              0.0  16.50  60.50       0.0              0.0
 84172         0.0              0.0  16.37  52.18       0.0              0.0
 84173         0.0              0.0  16.24  43.86       0.0              0.0
 84174         0.0              0.0  16.02  36.89       0.0              0.0
 84175         0.0              0.0  15.80  29.93       0.0              0.0
 ...           ...              ...    ...    ...       ...              ...
 105208        0.0              1.0  -0.59   0.00       0.0              1.0
 105209        0.0              1.0  -0.79   0.00       0.0              1.0
 105210        0.0              1.0  -0.78   0.00       0.0              1.0
 105211        0.0              1.0  -0.76   0.00       0.0              1.0
 105212        0.0              1.0  -0.74   0.00       0.0              1.0

          t1-1   r1-1  holiday-1  schoolHoliday-1
 84171   16.63  68.82        0.0              0.0
 84172   16.50  60.50        0.0              0.0
 84173   16.37  52.18        0.0              0.0
 84174   16.24  43.86        0.0              0.0
 84175   16.02  36.89        0.0              0.0
 ...       ...    ...        ...              ...
 105208  -0.40   0.00        0.0              1.0
 105209  -0.59   0.00        0.0              1.0
 105210  -0.79   0.00        0.0              1.0
 105211  -0.78   0.00        0.0              1.0
 105212  -0.76   0.00        0.0              1.0

 [21042 rows x 39 columns],
 84171     47.30
 84172     47.77
 84173     46.67
 84174     46.61
 84175     46.16
           ...
 105208    69.23
 105209    69.56
 105210    69.18
 105211    66.64
 105212    67.51
 Name: electricLoad, Length: 21042, dtype: float64,
           t1     t2      r1     r2  dayofweek  startDate_year  \
 3       8.83   8.40    0.00   0.00          6            2012
 4       8.89   8.50    0.00   0.00          6            2012
 5       8.95   8.60    0.00   0.00          6            2012
 6       9.01   8.70    0.00   0.00          6            2012
 7       9.07   8.80    0.00   0.00          6            2012
 ...      ...    ...     ...    ...        ...             ...
 84166  17.55  14.98  133.32  74.75          0            2014
 84167  17.26  14.30  117.29  75.00          0            2014
 84168  17.14  14.12  107.25  67.00          0            2014
 84169  17.01  13.95   97.22  59.00          0            2014
 84170  16.89  13.78   87.18  51.00          0            2014

        startDate_month  startDate_day  startDate_hour  startDate_minute  ...  \
 3                    1              1               0                45  ...
 4                    1              1               1                 0  ...
 5                    1              1               1                15  ...
 6                    1              1               1                30  ...
 7                    1              1               1                45  ...
 ...                ...            ...             ...               ...  ...
 84166                5             26              17                30  ...
 84167                5             26              17                45  ...
 84168                5             26              18                 0  ...
 84169                5             26              18                15  ...
 84170                5             26              18                30  ...

        holiday-3  schoolHoliday-3   t1-2    r1-2 holiday-2  schoolHoliday-2  \
 3            1.0              1.0   8.95    0.00       1.0              1.0
 4            1.0              1.0   9.01    0.00       1.0              1.0
 5            1.0              1.0   9.07    0.00       1.0              1.0
 6            1.0              1.0   9.12    0.00       1.0              1.0
 7            1.0              1.0   9.18    0.00       1.0              1.0
 ...          ...              ...    ...     ...       ...              ...
 84166        0.0              0.0  17.14  107.25       0.0              0.0
 84167        0.0              0.0  17.01   97.22       0.0              0.0
 84168        0.0              0.0  16.89   87.18       0.0              0.0
 84169        0.0              0.0  16.76   77.14       0.0              0.0
 84170        0.0              0.0  16.63   68.82       0.0              0.0

         t1-1    r1-1  holiday-1  schoolHoliday-1
 3       8.89    0.00        1.0              1.0
 4       8.95    0.00        1.0              1.0
 5       9.01    0.00        1.0              1.0
 6       9.07    0.00        1.0              1.0
 7       9.12    0.00        1.0              1.0
 ...      ...     ...        ...              ...
 84166  17.26  117.29        0.0              0.0
 84167  17.14  107.25        0.0              0.0
 84168  17.01   97.22        0.0              0.0
 84169  16.89   87.18        0.0              0.0
 84170  16.76   77.14        0.0              0.0

 [84168 rows x 39 columns],
 3        65.81
 4        64.24
 5        63.22
 6        61.71
 7        60.30
          ...
 84166    45.19
 84167    45.97
 84168    46.36
 84169    46.90
 84170    47.14
 Name: electricLoad, Length: 84168, dtype: float64)